---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const allProjects = await getCollection('projects');
const sortedProjects = allProjects.sort((a, b) => a.data.sortOrder - b.data.sortOrder);
const pageDescription = "View our portfolio of successful projects across Malawi, showcasing our expertise in installing and maintaining power solutions for embassies, banks, NGOs, and more.";

---
<Layout title="Projects | Nordam Enterprises" description={pageDescription}>
  <div class="container mx-auto px-4 py-12">
    <h1 class="text-4xl font-bold mb-8 text-center md:text-left">OUR PROJECTS</h1>

    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
      {sortedProjects.map(async (project) => {
        const { Content } = await project.render();
        return (
          <ProjectCard 
            title={project.data.title} 
            images={project.data.images}
          >
            <Content />
          </ProjectCard>
        )
      })}
    </div>
  </div>
</Layout>