---
export const prerender = true;
import Layout from '../layouts/Layout.astro';
const pageDescription = "Your trusted partner for innovative and reliable power solutions in Malawi. We provide high-performance diesel generators, advanced solar systems, and expert support.";

---
<Layout title="Nordam Enterprises | Home" description={pageDescription}>
  <div class="hero min-h-[calc(100vh-80px)]" style="background-image: url(/images/hero-background2.jpg);">
    <div class="hero-overlay bg-gradient-to-r from-blue-900/80 to-transparent"></div>
    <div class="hero-content text-left text-neutral-content w-full justify-start container mx-auto px-4">
      <div class="max-w-2xl">
        <h1 class="
            mb-5 
            text-5xl sm:text-6xl
            font-extrabold
            leading-tight
            uppercase
            text-white
          ">
          INNOVATIVE AND <br/>
          RELIABLE <br/>
          <span class="text-6xl sm:text-7xl text-yellow-500">POWER SOLUTIONS</span> <br/>
          IN THE WARM HEART OF AFRICA
        </h1>
        
        <div class="flex flex-col sm:flex-row gap-4 justify-start pt-8">
            <a href="/products" class="btn btn-outline border-white text-white hover:bg-primary hover:border-primary hover:text-white">PRODUCTS</a>
            <a href="/services" class="btn btn-outline border-white text-white hover:bg-primary hover:border-primary hover:text-white">SERVICES</a>
        </div>
      </div>
    </div>
  </div>
</Layout>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Nordam Enterprises",
  "address": {
    "streetAddress": "Area 28, Plot 130",
    "addressLocality": "Lilongwe",
    "addressCountry": "Malawi"
  },
  "telephone": "+265 999 246 782",
  "email": "nordam@africa-online.net",
  "url": "https://www.nordamenterprises.com",
  "description": "Generators, solar panels, inverters, and power solutions in Lilongwe, Malawi."
}
</script>