---
// A clean footer using DaisyUI's footer component
---
<footer class="footer footer-center p-10 bg-base-200 text-base-content rounded mt-12">
  <nav class="grid grid-flow-col gap-4">
        <p>Copyright © 2025 - All right reserved by Nordam Enterprises</p>
  </nav> 
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a href="#"></a>
    </div>
  </nav> 
  <aside>
    <p>+265 999 246 782 | nordam@ewimax.mw</p>
    <p>+265 888 202 067 | nordam@africa-online.net</p>
  </aside>
</footer>