---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
  description?: string;

}
const { title, description = "Nordam Enterprises specializes in robust and reliable power solutions in Malawi, including diesel generators, solar power systems, and 24/7 on-site support." } = Astro.props;

const navItems = [
  { href: "/", label: "Home" },
  { href: "/products", label: "Products" },
  { href: "/services", label: "Services" },
  { href: "/projects", label: "Projects" },
  { href: "/about", label: "About" },
];
---
<!doctype html>
<html lang="en" data-theme="light">
	<head>
		<meta charset="UTF-8" />
        <meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/images/lightning-1262-svgrepo-com.svg" />
		<title>{title}</title>
	</head>
	<body>
    <div class="flex flex-col min-h-screen">
      <Header />
      <main class="flex-grow">
        <slot />
      </main>
      <Footer />
    </div>

    <dialog id="mobile_menu_modal" class="modal">
      <div class="modal-box w-screen h-screen max-w-full max-h-full rounded-none flex flex-col justify-center items-center">
        
        <form method="dialog">
          <button class="btn btn-sm btn-circle btn-ghost absolute top-4 right-4 text-2xl">✕</button>
        </form>
        
        <ul class="menu menu-lg">
          {navItems.map(item => (
            <li><a href={item.href} class="text-2xl py-4">{item.label.toUpperCase()}</a></li>
          ))}
        </ul>

      </div>
      <form method="dialog" class="modal-backdrop">
        <button>close</button>
      </form>
    </dialog>

	</body>
</html>